@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


      


    /*---------------Ajustes de tamaño-------------------------*/

    @media (max-width: 683px)
    {
        .mostrar-menu,
        .esconder-menu
        {
            display: block;
        }
    
        .menu
        {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #5fa8d3;
            right: 100%;
            top: 0;
            text-align: center;
            padding: 100px 0px;
            z-index: 100;
            transition: 0.8s;      
        
    
            .menu a
            {
            display: block;
            padding: 20px;
            }
    
            .esconder-menu
            {
            position: absolute;
            top: 40px;
            right: 40px; 
            }
    
            #check:checked ~ .menu
            {
            right: 0;
            }

        }
    
    }
    /*-------------------------------------------*/

/*-------------------------------------------*/

/*-----------------Main---------------------*/

main 
{
    min-height: 100vh;
    flex-wrap: wrap;
  
    .cartita 
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #95cfe1;
      padding: 20px;
      max-width: 800px;
      margin: auto;
    }
  
    .imagen_fondo 
    {
      background: url(../images/exterior\ 3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
    /*---------------Ajustes de tamaño-------------------------*/

    @media (max-width: 800px)
    {
        .cartita
        {
            width: 700px;
        }
    }

    @media (max-width: 700px)
    {
        .cartita 
        {
            width: 600px;
        }
    }

    @media (max-width: 600px)
    {
        .cartita
        {
            width: 500px;
        }
    }

    @media (max-width: 500px)
    {

        .cartita
        {
           width: 400px;
        }

    }

    @media (max-width: 400px)
    {
        .cartita
        {
            width: 300px;
        }
    }



    /*-------------------------------------------*/



/*-----------------Presentacion---------------------*/
.Titulo 
{
    margin-bottom: 10px;
    font-family: 'Euphoria Script', cursive;
    display: flex;
    justify-content: center;
}

.introduccion 
{
    display: flex;
    justify-content: center;
    border: 5px solid #5fa8d3;
    flex-wrap: wrap;
}

.imagen_presentacion 
{
    width: 60%;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Presentacion 
{
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.texto-presentacion
{
    width: 400px;
    
}


    /*---------------Ajustes de tamaño-------------------------*/

    @media (max-width: 565px)
    {

        .Titulo
        {
            margin-bottom: auto;
            font-size: medium;
        }
        .texto-presentacion
        {
            align-items: center;
            width: 200px;
            font-size: small;
        }

        .imagen_presentacion 
        {
            width: 200px;
        }

        .introduccion
        {
            width: 300px;
        }

    }

    @media (max-width: 400px)
    {
        .texto-presentacion
        {
            width: 100px;
        }

        .imagen_presentacion
        {
            width: 200px;
        }

        .introduccion
        {
            width: 250px;
        }

        .texto-presentacion
        {
            width: 150px;
            font-size: small;
        }
    }


    /*-------------------------------------------*/

/*-------------------------------------------*/

/*-----------------Galeria---------------------*/

.cartita .galeria 
{
    
    padding: 10px; 
    margin-top: 20px; 
    display: flex;
    justify-content: space-between;
    width: 100%; 
    box-sizing:border-box
}

.titulo_galeria 
{
    font-family: 'Euphoria Script', cursive;
}

.container
{
    background-color: #5fa8d3;
    display: flex;
    justify-content: center;
}



    /*---------------Ajustes de tamaño-----------------*/


   
    






    /*-------------------------------------------*/

/*------------------------------------------*/

/*-------------------------------------------*/

/*-----------------Contactos---------------------*/

.Formulario
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.logoContactos 
{
    
    max-width: 400px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    /*---------------Ajustes de tamaño-------------------------*/
    @media (max-width: 565px)
    {

       

    }




    /*-------------------------------------------*/

/*-------------------------------------------*/

/*-----------------Precio---------------------*/
.pautaPrecio
{

  list-style-type: none;
  margin-bottom: 10px;
  color: red;
}

.metodoPago
{
    width: 300px;
    display: flex;
    padding: 10px;
    margin-top: 20px;
    margin-right: 30px;
}

.metodoPago img 
{
    width: 800px; 
    margin-right: 10px; 
}

.carousel-item
{
   max-width: 1000px;
}

    /*---------------Ajustes de tamaño ()-------------------------*/





    /*-------------------------------------------*/

/*-------------------------------------------*/

/*-----------------Servicios---------------------*/



.parrafoFinalServicios
{
    margin-bottom: 5px;
    
}

.img_servicios
{
    width: 100%;
    margin-bottom: 12px;
}



    /*---------------Ajustes de tamaño-------------------------*/





    /*-------------------------------------------*/



.logo_tarjeta
{
    display: flex;
    width: 70%;
    margin: auto;
}

.texto_Tarjeta
{
    margin: auto;
}

.tarjetas
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.card
{
    background-color: #175676;
}


.ocultar 
{
    display: none;
}
 
/*-------------------------------------------*/


/*-----------------Ubicacion---------------------*/
.Ubicacion
{
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
}

.TextoUbicacion
{
    display: flex;
    margin-right: 44px;
}

.contenido-ubicacion
{
    margin-left: 10px; 
}



    /*---------------Ajustes de tamaño-------------------------*/

    @media (max-width: 565px)
    {
        .Ubicacion
        {
            width: 300px;
        }
        .referencias
        {
            margin-left: 90px;
        }
       

    }



    /*-------------------------------------------*/


/*-------------------------------------------*/


