* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.imagen_fondo {
  background: url(../images/exterior\ 3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 100px;
  background: #5fa8d3;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-principal {
  float: left;
  width: 100px;
}
header .menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
header .menu a:hover {
  transform: translateY(-5px);
  text-decoration: underline;
  color: gold;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
header .menu .pagina-actual {
  color: gold;
  text-decoration: underline;
}
header .mostrar-menu, header .esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}
header .mostrar-menu {
  order: 1;
}
header menu a:hover, header .mostrar-menu:hover, header .esconder-menu:hover {
  color: black;
}
header #check {
  display: none;
}
@media (max-width: 683px) {
  header .mostrar-menu, header .esconder-menu {
    display: block;
  }
  header .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #5fa8d3;
    right: 100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  header .menu a {
    display: block;
    padding: 20px;
  }
  header .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  header #check:checked ~ .menu {
    right: 0;
  }
}

main {
  min-height: 100vh;
  flex-wrap: wrap;
}

.cartita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #95cfe1;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
@media (max-width: 800px) {
  .cartita {
    width: 700px;
  }
}
@media (max-width: 700px) {
  .cartita {
    width: 600px;
  }
}
@media (max-width: 600px) {
  .cartita {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .cartita {
    width: 400px;
  }
}
@media (max-width: 400px) {
  .cartita {
    width: 300px;
  }
}
.cartita .titulo_galeria {
  font-family: "Euphoria Script", cursive;
}
.cartita .galeria {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.cartita .imagen-carrusel {
  max-width: 1000px;
}
@media (max-width: 565px) {
  .cartita .imagen-carrusel {
    max-width: 500px;
  }
}
.cartita .container {
  background-color: #5fa8d3;
  display: flex;
  justify-content: center;
}
.cartita .introduccion {
  display: flex;
  justify-content: center;
  border: 5px solid #5fa8d3;
  flex-wrap: wrap;
}
@media (max-width: 565px) {
  .cartita .introduccion {
    width: 300px;
  }
}
@media (max-width: 400px) {
  .cartita .introduccion {
    width: 250px;
  }
}
.cartita .introduccion .Titulo {
  margin-bottom: 10px;
  font-family: "Euphoria Script", cursive;
  display: flex;
  justify-content: center;
}
@media (max-width: 565px) {
  .cartita .introduccion .Titulo {
    margin-bottom: auto;
    font-size: medium;
  }
}
.cartita .introduccion .imagen_presentacion {
  width: 60%;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 565px) {
  .cartita .introduccion .imagen_presentacion {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .cartita .introduccion .imagen_presentacion {
    width: 200px;
  }
}
.cartita .introduccion .texto-presentacion {
  width: 400px;
}
@media (max-width: 565px) {
  .cartita .introduccion .texto-presentacion {
    align-items: center;
    width: 200px;
    font-size: small;
  }
}
@media (max-width: 400px) {
  .cartita .introduccion .texto-presentacion {
    width: 150px;
    font-size: small;
  }
}
.cartita .Formulario {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cartita .logoContactos {
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 565px) {
  .cartita .logoContactos {
    max-width: 500px;
  }
}
.cartita .pautaPrecio {
  list-style-type: none;
  margin-bottom: 10px;
  color: white;
}
@media (max-width: 565px) {
  .cartita .pautaPrecio {
    font-size: small;
  }
}
.cartita .imagen-metodoPago {
  max-width: 800px;
  margin-right: 10px;
}
@media (max-width: 565px) {
  .cartita .imagen-metodoPago {
    max-width: 500px;
  }
}
.cartita .img_servicios {
  width: 100%;
  margin-bottom: 12px;
}
.cartita .card {
  background-color: #175676;
}
.cartita .card .logo_tarjeta {
  display: flex;
  width: 70%;
  margin: auto;
}
.cartita .card .texto_Tarjeta {
  display: flex;
  margin: auto;
  color: white;
}
.cartita .parrafoFinalServicios {
  margin-bottom: 5px;
}
.cartita .Ubicacion {
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 565px) {
  .cartita .Ubicacion {
    width: 300px;
  }
}
@media (max-width: 400px) {
  .cartita .Ubicacion {
    max-width: 200px;
  }
}
.cartita .TextoUbicacion {
  display: flex;
  margin-right: 44px;
}
@media (max-width: 279px) {
  .cartita .TextoUbicacion {
    font-size: small;
  }
}
@media (max-width: 279px) {
  .cartita .TextoUbicacion {
    font-size: small;
  }
}
@media (max-width: 279px) {
  .cartita .referencias {
    font-size: small;
  }
}
.cartita .contenido-ubicacion {
  margin-left: 10px;
}

footer {
  display: block;
  background-color: #175676;
}
footer .pie_pag {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
}/*# sourceMappingURL=indexEstilos.css.map */