footer
{
    display: block;
    background-color: $colorFuenteFooter;

    .pie_pag
    {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colorFuenteFooter;
    }
}