footer 
{
    display: block;
    height: 50px;
    background-color: $colorFooterYTarjetas;
    .pie_pag {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colorFuenteOro;
    }
}