header 
{
    height: 100px;
    background: $colorPrincipal;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
      
    .logo-principal 
    {
        float: left;
        width: 100px;
    }

    

}
      
