// _header.scss

header {
    height: 100px;
    background: #5fa8d3;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-principal {
        float: left;
        width: 100px;
    }

    .menu a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 10px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;

        &:hover
        {
            background-color: #175676;
            transform: scale(1.7);
            text-decoration: underline;
            -webkit-transform: scale(1.7);
            -moz-transform: scale(1.7);
            -ms-transform: scale(1.7);
            -o-transform: scale(1.7);
            color: gold;
        }
    }

    .mostrar-menu, .esconder-menu {
        font-size: 30px;
        cursor: pointer;
        display: none;
        transition: 0.4s;
    }

    .mostrar-menu {
        order: 1;
    }

    menu a:hover, .mostrar-menu:hover, .esconder-menu:hover {
        color: black;
    }

    #check {
        display: none;
    }

    
    @media (max-width: 683px) {
        .mostrar-menu, .esconder-menu {
            display: block;
        }

        .menu {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #5fa8d3;
            right: 100%;
            top: 0;
            text-align: center;
            padding: 100px 0px;
            z-index: 100;
            transition: 0.8s;
        }

        .menu a {
            display: block;
            padding: 20px;
        }

        .esconder-menu {
            position: absolute;
            top: 40px;
            right: 40px;
        }

        #check:checked ~ .menu {
            right: 0;
        }
    }
}
