
    .cartita 
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #95cfe1;
      padding: 20px;
      max-width: 800px;
      margin: auto;

      .titulo_galeria
        {
            font-family: 'Euphoria Script', cursive;
        }
        
        .galeria 
        {
    
            padding: 10px; 
            margin-top: 20px; 
            display: flex;
            justify-content: space-between;
            width: 100%; 
            box-sizing:border-box
        }

        .container
        {
            background-color: #5fa8d3;
            display: flex;
            justify-content: center;
        }

        .introduccion 
        {
            display: flex;
            justify-content: center;
            border: 5px solid #5fa8d3;
            flex-wrap: wrap;
      
            .Titulo 
            {
                margin-bottom: 10px;
                font-family: 'Euphoria Script', cursive;
                display: flex;
                justify-content: center;
            }
      
            .imagen_presentacion 
            {
                width: 60%;
                margin: 10px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
      
            .texto-presentacion 
            {
                width: 400px;
            }
        }
    }
  
    .imagen_fondo 
    {
      background: url(../images/exterior\ 3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
